        *{

            margin: 0;
            padding: 0;
            border: 0;

        }
        body{
            font-family: 'Roboto', sans-serif;

        }

        /* style menu */
        .menu header{
            width: 90%;
            padding: 60.1px;
            display: flex;
            align-items: center;
            
        }
        .menu header div{
            text-align: center;

            
            
        }
        .menu header img{

            margin: 0 231px;
            width: 90.6;
            height: 26.9;
            margin-left: 175px;
            margin-right: 145px;

        }
        .menu header div a {
            font-size: 16px;
            color: #111111;
            margin: 0 30px;
            text-decoration: none;

        }

        /* style banner */

        .banner main{

            width: 940px;
            height: 366px;
            background: #FBDFDB ; 
            margin: 93px 230px 644px;
            border-radius: 30px;
            box-shadow: 0 0 10px;
            margin-bottom: 4.5%;
        }

        .banner main h1{
            padding-top: 117px;
            padding-left: 60px;
            font-size: 32px;
        }

        .banner main p{
            width: 316px;
          
            padding-top: 10px;
           
            padding-left: 60px;
            font-size: 18px;
            
        }
        .banner  img{
            
            float: right;
            margin-top: 66px;
            margin-right: 150px;

        

        }

        /* style grid */

        .grid_acessadas h2{

            
            margin-top: 50px;
            margin-bottom: 20px;
            margin-left: 230px;

        }

      .cards{

            max-width: 870px;
            margin-left: 200px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr ; padding: 30.1px;
            /* margin-top: 50px; */
            gap: 20px;
          
        }
        .card{
            cursor: pointer;
        }
        .card img{

                width: 300px;
                height: 140px;
                border-radius: 15px;
                box-shadow: 0 0 5px;
                margin-bottom: 20px;

        }

        .card h2{
            margin-top: 20px;
            font-size: 18px;
            width: 156px;
            height: 21px;
            line-height: 21px;
        
        }

     .card p{
            margin-top: 5px;
            font-size: 14px;
            line-height: 16px;
            color: #777777;
            width: 120px;
           
            margin-bottom: 30px;
        }

 

        footer  p{

            font-size: 14px;
        
            line-height: 26px;

            color:#999999;
            
            text-align: center;
            
            padding: 23px;
        }

             
footer{
    /* text-align: center; */
    padding:24 px;
    background-color: #EEEEEE;
  
}


/* ===========style about========== */

.about{
    width: 870px;
    line-height: 28px;
    margin-left: 230px;
    margin-bottom: 30px;
}

.start{
    
        width: 870px;
        line-height: 28px;
        margin-left: 230px;
        margin-bottom: 30px;

}

.revenue{
    
    width: 870px;
    line-height: 28px;
    margin-left: 230px;
    margin-bottom: 30px;

}


/* ================modal- revenue============== */


.modal-overlay{

    background-color: rgba(179, 120, 12, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px;
   opacity: 0;
   visibility: hidden;
}

.modal{

    background-color: white;
    width: 660px;
    height: 413px;
    margin: 15vh auto;
    border-radius: 16px;
    display: flex;
    position: relative;
    
}

/* .modal img{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;
    
} */

.modal h2{
    position: absolute;
    width: 332px;
    height: 28px;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 135px;
    margin-left: 164px;

}
.modal p{
    position: absolute;
    margin-top: 283px;
    margin-left:257px;
}

.modal  h5{
    width: 332px;
    height: 28px;
    text-align: center;
    margin-top: 380px;
    margin-bottom: 135px;
    margin-left: -475px;
    cursor: pointer;

}


/* ================modal- revenue activo============== */
.modal-overlay.active{
    opacity: 1;
    visibility: visible;
}



iframe{
    width: 600px;
    height: 200px;
    border-radius: 15px;
    margin-top: 30px;
    margin-left: 30px;
   
}



